<ul>
  <% @trolley.items.each do |item| %>
  <li>
    You ordered: <%= item.name %> - Price £<%= item.price %>
    <%= link_to "Delete #{item.name}", trolley_item_path(@trolley, item), data: { confirm: "Are you sure?"}, method: :delete, id: "delete_#{item.name}" %>
  </li>
  <% end %>
  <h3>Total in trolley: £<%= @trolley.total_price %></h3>
  <% if @trolley.items.count != 0 %>
    <%= link_to 'Checkout', new_cart_path(trolley_id: @trolley.id)  %>
  <% end %>
</ul>
