<h2> Proceed to Checkout </h2>

<p> Items Ordered </p>

<ul>
  <% @cart.items.each do |item| %>
  <li>
    You ordered: <%= item.name %> - Price £<%= item.price %>
    <%= link_to "Delete #{item.name}", cart_item_path(@cart, item), data: { confirm: "Are you sure?"}, method: :delete, id: "delete_#{item.name}" %>
  </li>
  <% end %>
  <h3>Shipping (UK): £3.99</h3>
  <h3>Total in trolley: £<%= @cart.total_price + 3.99 %></h3>
    <%= link_to 'Proceed to payment', new_order_path(params[:trolley_id]) %>
</ul>
