<h2> Proceed to Checkout </h2>

<p> Items to be ordered: </p>

<ul>
  <% @cart.trolley.items.each do |item| %>
  <li>
    You ordered: <%= item.name %> - Price £<%= item.price %>
    <%= link_to "Delete #{item.name}", trolley_item_path(@cart.trolley, item), data: { confirm: "Are you sure?"}, method: :delete, id: "delete_#{item.name}" %>
  </li>
  <% end %>
  <h4> Standard UK shipping: £3.99 </h4>
  <h3>Total: £<%= @cart.principal_amount %></h3>
    <%= link_to 'Proceed to payment', new_order_path(cart: @cart) %>
</ul>
