<!DOCTYPE html>
<html>
  <head>
    <title>Bursar</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag    'main' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <nav>Here is your trolley: <%= Shopper.find(session[:shopper_id]).name %></nav><hr>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, sanitize(msg), class: name %>
    <% end %>
    <%= yield %>
    <%= link_to "Back", shoppers_path %>
  </body>
</html>
